
table {
    table-layout:fixed;
    height: 280px;
    width: 280px;
}

td{    
    border-radius: 9px;
    text-align: center;
    vertical-align: center;
    font-size: 18pt;
    font-weight: bold;
    height: 70px;
    width: 70px;
    border: 1px solid grey;
}

